---
http_interactions:
- request:
    method: get
    uri: http://api.theysaidso.com/qod.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Auth-Status:
      - 'false'
      X-Ratelimit-Limit:
      - 5 per hour
      X-Ratelimit-Remaining:
      - '3'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":{"total":1},"contents":{"id":"dz9FraZ1WKmxupoqKIA8lAeF","quote":"Winning
        is a science, educate yourself to win .","author":"Sandeep Kakkar","length":"47","tags":["inspirational","inspire","winning"],"category":"inspire"}}'
  recorded_at: Mon, 11 May 2015 03:48:03 GMT
recorded_with: VCR 2.9.3
